OneShot.com/Connected Services/ServiceReference1/OneShotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cyber_Knights_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cyber_Knights_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Promotion">
    <xs:sequence>
      <xs:element minOccurs="0" name="PromotioPercentageOFF" type="xs:int" />
      <xs:element minOccurs="0" name="PromotionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Promotion_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Promotion_EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Promotion_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Promotion_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Promotion_StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promotion" nillable="true" type="tns:Promotion" />
  <xs:complexType name="ItemOnPromotion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" type="xs:int" />
      <xs:element minOccurs="0" name="Promotion_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemOnPromotion" nillable="true" type="tns:ItemOnPromotion" />
  <xs:complexType name="CategoryTbl">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatID" type="xs:int" />
      <xs:element minOccurs="0" name="Cat_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryTbl" nillable="true" type="tns:CategoryTbl" />
  <xs:complexType name="PromoCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountPercent" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromoCode" nillable="true" type="tns:PromoCode" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemAvailableQTY" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCode" type="xs:int" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRegistered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FiratName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfLineGraphData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineGraphData" nillable="true" type="tns:LineGraphData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineGraphData" nillable="true" type="tns:ArrayOfLineGraphData" />
  <xs:complexType name="LineGraphData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpenseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevenuAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineGraphData" nillable="true" type="tns:LineGraphData" />
  <xs:complexType name="ArrayOfPieChartData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PieChartData" nillable="true" type="tns:PieChartData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPieChartData" nillable="true" type="tns:ArrayOfPieChartData" />
  <xs:complexType name="PieChartData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalePercentage" type="xs:int" />
      <xs:element minOccurs="0" name="dataId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PieChartData" nillable="true" type="tns:PieChartData" />
  <xs:complexType name="ArrayOfColumnGraphData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnGraphData" nillable="true" type="tns:ColumnGraphData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnGraphData" nillable="true" type="tns:ArrayOfColumnGraphData" />
  <xs:complexType name="ColumnGraphData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordered" type="xs:int" />
      <xs:element minOccurs="0" name="Registered" type="xs:int" />
      <xs:element minOccurs="0" name="Visitors" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnGraphData" nillable="true" type="tns:ColumnGraphData" />
  <xs:complexType name="ArrayOfPromotion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promotion" nillable="true" type="tns:Promotion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromotion" nillable="true" type="tns:ArrayOfPromotion" />
  <xs:complexType name="ArrayOfItemOnPromotion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemOnPromotion" nillable="true" type="tns:ItemOnPromotion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemOnPromotion" nillable="true" type="tns:ArrayOfItemOnPromotion" />
  <xs:complexType name="ArrayOfItemReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemReview" nillable="true" type="tns:ItemReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemReview" nillable="true" type="tns:ArrayOfItemReview" />
  <xs:complexType name="ItemReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="revId" type="xs:int" />
      <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemReview" nillable="true" type="tns:ItemReview" />
  <xs:complexType name="ArrayOfCustomerList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerList" nillable="true" type="tns:CustomerList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerList" nillable="true" type="tns:ArrayOfCustomerList" />
  <xs:complexType name="CustomerList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerList" nillable="true" type="tns:CustomerList" />
  <xs:complexType name="ArrayOfonCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="onCart" nillable="true" type="tns:onCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfonCart" nillable="true" type="tns:ArrayOfonCart" />
  <xs:complexType name="onCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemTotalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="qty" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="onCart" nillable="true" type="tns:onCart" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderEstDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberOfItems" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionRecipt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="ArrayOfCustomerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerMessage" nillable="true" type="tns:CustomerMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerMessage" nillable="true" type="tns:ArrayOfCustomerMessage" />
  <xs:complexType name="CustomerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageID" type="xs:int" />
      <xs:element minOccurs="0" name="MessageStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerMessage" nillable="true" type="tns:CustomerMessage" />
</xs:schema>